/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.phpunit.result.cache
.phpunit.result.cache
.env
.env.backup
.phpunit.cache
.phpunit.cache/*
/public/build
/.fleet
